

@font-face {
    font-family: 'Singkong';
    font-weight: 400;
    src: url('../assets/fonts/Singkong.otf');
    font-display: swap;
}

@font-face {
    font-family: 'BreeSerif';
    font-weight: 400;
    src: url('../assets/fonts/BreeSerif-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../assets/fonts/Poppins-Regular.ttf');
    font-display: swap;
}

body {
    margin: auto;
}

table{
    /* plus d'ecard ent les cellules */
    border-collapse: collapse;
    margin: 15px;
}

td, th{
    border:1px solid rgb(212, 212, 212);
    padding: 10px;
    height: 50px;
    vertical-align: top;

}

/* Tous les enfants d la ligne impair */
tr:nth-child(even), thead, tfoot{
    background-color: rgb(189, 230, 230);
}

tbody>tr:first-child td{
    font-weight: 700;
}


caption{
    padding: 10px;
}


/* ******************* GRID ***************** */
.wrapper{
display: grid;
grid-template-columns: 1fr 2fr 1fr;
border: 1px solid black;
grid-auto-rows: minmax(100px, auto);
grid-gap: 10px;
margin: 15px;

}

.box1{
    border: 1px solid black;
    grid-column-start: 1 ;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
    grid-row-end: 1 ;

}

.box2{
    border: 1px solid black;
    grid-column-start: 1 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;

}

.box3{
    border: 1px solid black;
    grid-column-start: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    
}

.box4{
    border: 1px solid black;
    grid-column-start: 3 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    
}

.box5{
    border: 1px solid black;
    grid-column-start: 1 ;
    grid-column-end: 4 ;
    grid-row-start: 4 ;
    grid-row-end: 4 ;
}

